<div ng-app="landInfoApp">
  <div ng-controller="landInfoCtrl">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable='true'>
      <ui-gmap-marker idkey="$index"
        coords="{latitude: land_info.latitude, longitude: land_info.longitude}"
        icon="'http://chart.apis.google.com/chart?chst=d_map_spin&chld=1|0|FF0000|12|_|' + get_price(land_info) + '萬'"
        ng-repeat="land_info in land_informations"
        click="openWindow(land_info)">
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>

<script>
  var landInfoApp = angular.module('landInfoApp', ['uiGmapgoogle-maps', 'ui.bootstrap']);
  landInfoApp.controller('landInfoCtrl', function($scope, $modal, $http) {
    $scope.map = {
        center: {
            latitude: '25.0392179',
            longitude: '121.5398562'
        },
        zoom: 15
    };

    $scope.openWindow = function(land_info){
      var modalInstance = $modal.open({
        templateUrl: 'landInfoModalContent.html',
        controller: ModalInstanceCtrl,
        size: 'm',
        resolve: {
          land_info: function () {
            return land_info;
          }
        }
      });
    };

    $scope.get_price = function(land_info) {
      return Math.ceil((land_info.price_per_square_meters / 1000) * (121 / 400));
    };

    $scope.land_informations = <%= LandInformation.all.to_json.html_safe %>;
  });

  var ModalInstanceCtrl = function ($scope, $modalInstance, land_info) {
    $scope.land_info = land_info;

    $scope.ok = function() {
      $modalInstance.dismiss('cancel');
    };
  };
</script>

<style>
.angular-google-map-container { height: 800px; }

.marker-labels {
  padding: 2px 0;
  width: 150px;
  text-align: center;

  background-color: white;
  color: red;
  border: black 1px solid;
}
</style>
