<div class="modal-header">
    <h3 class="modal-title">{{land_info.address}}</h3>
</div>

<div class="modal-body">
  <dl class="dl-horizontal">
    <dt>地址</dt>
    <dd>{{land_info.address}}</dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>產品形式</dt>
    <dd>{{land_info.product_type}}</dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>完成日期</dt>
    <dd>{{land_info.constructed_at}}</dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>每平方公尺價錢</dt>
    <dd>{{land_info.price_per_square_meters}}</dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>總價</dt>
    <dd>{{land_info.price}}</dd>
  </dl>
  <dl class="dl-horizontal">
    <dt>大小</dt>
    <dd>{{land_info.area}} 平方公尺</dd>
  </dl>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="ok()">OK</button>
</div>
