<h1>Listing land_informations</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Price per square meters</th>
      <th>Product type</th>
      <th>Price</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @land_informations.each do |land_information| %>
      <tr>
        <td><%= land_information.address %></td>
        <td><%= land_information.latitude %></td>
        <td><%= land_information.longitude %></td>
        <td><%= land_information.price_per_square_meters %></td>
        <td><%= land_information.product_type %></td>
        <td><%= land_information.price %></td>
        <td><%= land_information.area %></td>
        <td><%= link_to 'Show', land_information %></td>
        <td><%= link_to 'Edit', edit_land_information_path(land_information) %></td>
        <td><%= link_to 'Destroy', land_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Land information', new_land_information_path %>
