<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @land_information.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @land_information.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @land_information.longitude %>
</p>

<p>
  <strong>Price per square meters:</strong>
  <%= @land_information.price_per_square_meters %>
</p>

<p>
  <strong>Product type:</strong>
  <%= @land_information.product_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @land_information.price %>
</p>

<p>
  <strong>Area:</strong>
  <%= @land_information.area %>
</p>

<%= link_to 'Edit', edit_land_information_path(@land_information) %> |
<%= link_to 'Back', land_informations_path %>
